@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family:"Josefin Sans";
    src: url("/public/font/JosefinSans-VariableFont_wght.ttf") format('ttf');
}

body{
    font-family: "Josefin Sans", system-ui;
}

@layer base {
  :root {
        --radius:  0.5rem;
    }
}